#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#article-img{
width:100%;
height:auto;
}

.up-arrow {
  background-image: url('https://icon2.cleanpng.com/20180203/avq/kisspng-chopsticks-tableware-clip-art-up-arrow-png-transparent-image-5a759b4b96ff98.2627420215176569076185.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px; 
  height: 20px;
  display: inline-block; 
  vertical-align: middle;
  transition: transform 0.3s ease; 
}

.asc.active .up-arrow {
  transform: rotate(180deg);
}
